/* Footer design */
.footer {
  background-color: #333333;
  color:white;
  font-size: 30px;
  padding: 20px 20px;

}

.footer i {
  transition: all 0.1s ease;;
  padding: 5px;
}


.footer i:hover {
  color: #D23333;
}

.footer p {
  font-size: 16px;
  margin-top: 15px;
}
